[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyQt6 = "==6.6.1"
PyQt6-Qt6 = "==6.6.1"
PyQt6-sip = "==13.6.0"
Pillow = "*"
numpy = "*"
opencv-python = "*"
rawpy = "*"
piexif = "*"
colorspacious = "*"

[dev-packages]
pytest = "*"
pytest-qt = "*"
pytest-cov = "*"
pytest-mock = "*"
hypothesis = "*"
faker = "*"

[requires]
python_version = "3.10"
